// ========= WELCOME SECTION (slot classes) =========
.special-message {
  --left: -26svh;
  --scale: 1.12;
  --y: 21svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 1;
  
  @include respond(xs) {
    display:none;
  }
}
  
.special-message-mobile {
  display: none!important;
    
  @include respond(xs) {
    display: flex!important;
    position: absolute;
    --left: 12svh;
    --scale: .84;
    --y: 17svh;
    --x: 0svh;
    --rot: 0deg;
    --z: 1;
  }
}
  
.izzymacarthur {
  --left: 18svh;
  --scale: .15;
  --y: 60svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;

  @include respond(xs) { 
    display: none;
  }
}

.mobile-izzymacarthur {
  display: none!important;

  @include respond(xs) {
    display: flex!important;
    --left: 13svh;
    --scale: .12;
    --y: 61svh;
    --x: 8svh;
    --rot: 0deg;
    --z: 2;
  }
}

  .social-sparkles {
    --left: 17svh;
    --scale: .15;
    --y: 50svh;
    --x: 8svh;
    --rot: 0deg;
    --z: 2;
    pointer-events: none;
    
    @include respond(xs) { 
      --left: 11.5svh;
      --scale: .13;
      --y: 13svh;
      --x: 8svh;
      --rot: 0deg;
      --z: 2;
      pointer-events: none;
    }
  }
  
.instagram {
  --left: 28svh;
  --scale: .05;
  --y: 55svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;
  
  @include respond(xs) {
    --left: 22svh;
    --scale: .037;
    --y: 18.75svh;
    --x: 6.5svh;
    --rot: 0deg;
    --z: 2;
  }
}
  
.tiktok {
  --left: 34svh;
  --scale: .05;
  --y: 55svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;
  
  @include respond(xs) {
    --left: 27.5svh;
    --scale: .037;
    --y: 17.25svh;
    --x: 6.5svh;
    --rot: 0deg;
    --z: 2;
  }
}
  
.twitter {
  --left: 40svh;
  --scale: .05;
  --y: 55svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;
  
  @include respond(xs) {
    --left: 33svh;
    --scale: .037;
    --y: 18.75svh;
    --x: 6.5svh;
    --rot: 0deg;
    --z: 2;
  }
}
  
.discord {
  --left: 46svh;
  --scale: .05;
  --y: 55svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;
  
  @include respond(xs) {
    --left: 38.5svh;
    --scale: .037;
    --y: 17.25svh;
    --x: 6.5svh;
    --rot: 0deg;
    --z: 2;
  }
}
  
.spotify {
  --left: 52svh;
  --scale: .05;
  --y: 55svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;
  
  @include respond(xs) {
    --left: 44svh;
    --scale: .037;
    --y: 18.75svh;
    --x: 6.5svh;
    --rot: 0deg;
    --z: 2;
  }
}
  
.apple-music {
  --left: 58svh;
  --scale: .05;
  --y: 55svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;
  
  @include respond(xs) { 
    --left: 49.5svh;
    --scale: .037;
    --y: 17.25svh;
    --x: 6.5svh;
    --rot: 0deg;
    --z: 2;
  }
}

.torn-note {
  --left: 11svh;
  --scale: .68;
  --y: -9svh;
  --x: -2svh;
  --rot: 0deg;
  --z: 3;
  pointer-events: none;
  
  @include respond(xs) {
    --left:41svh; 
    --scale:.4; 
    --y:63svh; 
    --x:15svh; 
    --rot:10deg; 
    --z:4;
    pointer-events: none;
  }
}

.tracklist {
  --left:91svh; 
  --scale:.42; 
  --y:57svh; 
  --x:15svh; 
  --rot:8deg; 
  --z:2; 
  pointer-events:none;
  
  @include respond(xs) {
    --left:60svh; 
    --scale:.3; 
    --y:1svh; 
    --x:15svh; 
    --rot:-8deg; 
    --z:4;
    pointer-events: none;
  }
}

.the-scrapbook {
  --left:65svh; 
  --scale:.5; 
  --y:12svh; 
  --x:0svh; 
  --rot:0deg; 
  --z:4;
  pointer-events: none;
  
  @include respond(xs) {
    --left:18svh; 
    --scale:.32; 
    --y:26svh; 
    --x:0svh; 
    --rot:0deg; 
    --z:4;
    pointer-events: none;
  }
}

.lfg { 
  --left:97svh; 
  --scale:.1; 
  --y:5svh; 
  --x:0svh; 
  --rot:0deg; 
  --z:4;
  pointer-events: none;
  
  @include respond(xs) {
    --left:25svh; 
    --scale:.1; 
    --y:3svh; 
    --x:0svh; 
    --rot:0deg; 
    --z:4;
    pointer-events: none;
  }
}
  
  .pink-arrow { 
    --left:123svh; 
    --scale:.09; 
    --y:5svh; 
    --x:0svh; 
    --rot:0deg; 
    --z:5;
    pointer-events: none;
    
    @include respond(xs) {
      --left:50svh; 
      --scale:.08; 
      --y:3svh; 
      --x:0svh; 
      --rot:0deg; 
      --z:4;
      pointer-events: none;
    }
  }

  // ========= LIGHT SLEEPER SECTION (slot classes) =========
.broken-cd { 
  --left:143svh; 
  --scale:.35; 
  --y:67svh;
  --x:0svh; 
  --rot:85deg; 
  --z:29;
  pointer-events:none;
  
  @include respond(xs) {
    --left:66svh; 
    --scale:.32; 
    --y:44svh; 
    --x:-11svh; 
    --rot:85deg; 
    --z:2;
    pointer-events: none;
  }
}

.blue-star-1 { 
  --left:183svh; 
  --scale:.06; 
  --y:85svh;
  --x:0svh;
  --rot:80deg;
  --z:20;
  pointer-events:none;
  
  @include respond(xs) {
    --left:115svh; 
    --scale:.04; 
    --y:90svh;
    --x:0svh;
    --rot:80deg;
    --z:20;
    pointer-events:none;
  }
}

.blue-star-2 {
  --left:185svh;
  --scale:.13;
  --y:95svh;
  --x:0svh;
  --rot:86deg; 
  --z:20;
  pointer-events:none;
}

.silver-star1-1 { 
  --left:187svh;
  --scale:.17; 
  --y:73svh;
  --x:0svh;
  --rot:83deg;
  --z:20;
  pointer-events:none;

  @include respond(xs) {
    --left:200svh;
    --scale:.13;
    --y:60svh;
  }
}

.lightsleeper-title { 
  --left:159svh;
  --scale:.42; 
  --y:26svh; 
  --x:-4svh; 
  --rot:-5deg;
  --z:4; 
  pointer-events: none;

  @include respond(xs) {
    --left:102svh; 
    --scale:.33; 
    --y:72svh; 
    --x:-4svh; 
    --rot:-5deg;
    --z:4; 
    pointer-events: none;
  }
}

.lightsleeper-visualizer {
  --left:145svh;
  --scale:.38;
  --y:0svh; 
  --x:10svh;
  --rot:0deg;
  --z:3; 
  
  @include respond(xs) {
    --left:123svh;
    --y:50svh;
    --scale: .27;
  }
}

.lightsleeper-about { 
  --left:210svh;
  --scale:.4;
  --y:58svh;
  --x:0svh;
  --rot:-10deg;
  --z:30;
  pointer-events:auto;
  
  @include respond(xs) {
    --left:103svh;
    --y:49svh;
    --scale:.3;
  }
}

.autumn-text {
  --left:220svh;
  --scale:.3;
  --y:22svh;
  --x:0svh;
  --rot:2deg;
  --z:0;
  
  @include respond(xs) {
    --left:111svh;
    --y: 20svh;
    --scale:.28;
  }
}

.blame-it-notesapp { 
  --left:215svh;
  --scale:.20;
  --y:0svh;
  --x:0svh;
  --rot:-2deg;
  --z:4;
  
  @include respond(xs) {
    --left:150svh;
    --y:2svh;
  }
}

.lightsleeper-studio { 
  --left:247svh;
  --scale:.40;
  --ar:9/16;
  --y:57svh;
  --x:0svh; 
  --rot:0deg;
  --z:41;
  
  @include respond(xs) {
    --left:185svh;
    --y:57svh;    
    --scale:.35;
  }
}

.silver-star1-2 {
  --left:245svh;
  --scale:.18;
  --y:5svh;
  --x:0svh;
  --rot:20deg;
  --z:60;
  pointer-events:none;
  
  @include respond(xs) {
    --left:165svh;
    --scale:15;
    --y:10svh;
  }
}

.chords-gif { 
  --left:272svh; 
  --scale:.3; 
  --y:66svh;
  --x:0svh; 
  --rot:0deg;
  --z:41;
  
  @include respond(xs) {
    --left:177svh;
    --scale: .23;
    --y:30svh;
    pointer-events:none;
  }
}

.click4chordz { 
  --left:288svh;
  --scale:.11;
  --y:88svh;
  --x:0svh; 
  --rot:0deg; 
  --z:42; 
  pointer-events:none;
  
  --ff: "Manic"; 
  --ta: center; 
  --fw: 400; 
  --fs-mul: .18; 
  --tt: uppercase;
  --text-color: #4C58E9;
  
  @include respond(xs) {
    display:none;
  }
}

.play-lightsleeper {
  --left:262svh;
  --scale:.35;
  --y:32svh;
  --x:0svh;
  --rot:0deg;
  --z:40;
  
  dotlottie-wc {
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .sc-trigger{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }

  @include respond(xs) {
    --left:145svh;
    --y:73svh;    
    --scale: .28;
  }
}

.broken-breathing {
  --left:263svh;
  --scale:.28;
  --y:0svh;
  --x:1svh;
  --rot:0deg;
  --z:10;

  @include respond(xs) {
    --left:115svh;
    --y:1svh;
    --scale: .2;
  }
}

.lightsleeper-voicememo {
  --left:310svh;
  --scale:.34;
  --y:29svh;
  --x:0svh;
  --rot:-6deg;
  --z:9;

  @include respond(xs) {
    --left:150svh;
    --scale:.23;
    --y:24svh;
  }
}

// EXIT WOUNDS
// ========= EXIT WOUNDS SECTION (slot classes) =========

.exitwounds-lyricvideo {
  /* V4 placeholder */
  --left: 298svh;
  --scale: .38;
  --y: 63svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 21;

  @include respond(xs) {
    --left:210svh;
    --scale: .27;
    --y:70svh;
  }
}

.star-trio-1 {
  --left: 346svh;
  --scale: .28;
  --y: 61svh;
  --x: 0svh;
  --rot: -160deg;
  --z: 10;
  pointer-events: none;

  @include respond(xs) {
    --left:200svh;
    --scale:.18;
    --y:48svh;
  }
}

.exitwounds-title {
  --left: 322svh;
  --scale: .33;
  --y: 0svh;
  --x: 0svh;
  --rot: -12deg;
  --z: 1;
  pointer-events: none;

  @include respond(xs) {
    --left:200svh;
    --scale:.25;
  }
}

.play-exitwounds {
  --left: 362svh;
  --scale: .25;
  --y: 69svh;
  --x: 0svh;
  --rot: 13deg;
  --z: 11;
  
  @include respond(xs) {
    --left: 255svh;
    --scale: .20;
    --y: 72svh;
  }
}

.pressplaydj {
  --left: 359svh;
  --scale: .17;
  --y: 63svh;
  --x: 0svh;
  --rot: 12.5deg;
  --z: 12;
  pointer-events: none;

  --ff: "Thinker";
  --fw: 400;
  --fs-mul: .17;
  --text-color: #4CA8E9;

  @include respond(xs) {
    --left: 254svh;
    --scale: .13;
    --y: 68svh;
  }
}

.missed-calls {
  --left: 365svh;
  --scale: .35;
  --y: 24svh;
  --x: -6svh;
  --rot: 10deg;
  --z: 9;
  pointer-events: none;

  @include respond(xs) {
    --left: 217svh;    
    --scale:.28;
    --y: 28svh;
  }
}

.about-exitwounds {
  --left: 397svh;
  --scale: .31;
  --y: 45svh;
  --x: 8svh;
  --rot: -6deg;
  --z: 9;

  @include respond(xs) {
    --left: 237svh;
    --scale:.27;
    --y: 37svh;
  }
}

.exitwounds-animation-1 {
  --left: 387svh;
  --scale: .40;
  --y: 23svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 2;
  pointer-events: none;

  @include respond(xs) {
    --left:250svh;
    --scale: .33;
    --y: 21svh;
  }
}

.play-exitwounds-voicememo {
  --left: 392svh;
  --scale:.23;
  --y: 1svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 7;

  @include respond(xs) {
    --left:255svh;
    --scale: .18;
  }
}  

.click-me-text {
  --left: 414svh;
  --scale: .20;
  --y: 16svh;
  --x: 0svh;
  --rot: 1deg;
  --z: 8;

  --fw: 400;
  --fs-mul: .15;
  --text-color: #4CA8E9;

  @include respond(xs) {
    --left:275svh;
  }
}

.click-me-arrow {
  --left: 413svh;
  --scale: .04;
  --y: 11svh;
  --x: 0svh;
  --rot: -4deg;
  --z: 6;
  pointer-events: none;

  @include respond(xs) {
    --left:274svh;
  }
}

.read-susbstack-text {
  --left: 409svh;
  --scale: .19;
  --y: 80svh;
  --x: 0svh;
  --rot: 7deg;
  --z: 8;
  pointer-events: none;

  --ff: "Manic";
  --ta: center;
  --fw: 400;
  --fs-mul: .15;
  --tt: uppercase;
  --text-color: #4CA8E9;

  @include respond(xs) {
    --left:286svh;
    --scale:.15;
    --y:78svh;
  }
}

.substack-point-arrow {
  --left: 433svh;
  --scale: .10;
  --y: 67svh;
  --x: 0svh;
  --rot: 7deg;
  --z: 4;
  pointer-events: none;

  @include respond(xs) {
    --left: 295svh;
    --scale: .08;
    --rot: 9deg;
    --y: 63svh;
  }
}

.scorpio-constellation {
  --left: 428svh;
  --scale: .25;
  --y: 40svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 4;
  pointer-events: none;

  @include respond(xs) {
    --left: 270svh;
    --scale: .22;
    --y: 40svh;
  }
}

.subscribe-substack-text {
  --left: 418svh;
  --scale: .12;
  --y: 1svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 8;
  pointer-events: none;

  --ff: "Manic";
  --fw: 400;
  --fs-mul: .21;
  --ta: center;
  --tt: uppercase;
  --text-color: #4CA8E9;

  @include respond(xs) {
    --left: 282svh;
    --scale: .10;
    --y:0svh;
  }
}

.subscribe-arrow {
  --left: 452svh;
  --scale: .04;
  --y: 11svh;
  --x: 0svh;
  --rot: -57deg;
  --z: 20;
  pointer-events: none;

  @include respond(xs) {
    --left: 300svh;
    --rot: -57deg;
    --y:11svh;
  }
}

.subscribe-button {
  --left: 459svh;
  --scale: .14;
  --y: 10svh;
  --x: 0svh;
  --rot: 6deg;
  --z: 20;

  @include respond(xs) {
    --left: 302svh;
    --scale: .11;
    --y:14svh;
  }
}

.exitwounds-substackflier-2 {
  --left: 453svh;
  --scale: .76;
  --y: 30svh;
  --x: 0svh;
  --rot: 14deg;
  --z: 3;

  @include respond(xs) {
    --left: 310svh;
    --y: 29svh;
  }
}

.silver-star3-1 {
  --left: 459svh;
  --scale: .10;
  --y: -1svh;
  --x: 0svh;
  --rot: -59deg;
  --z: 20;
  pointer-events: none;

  @include respond(xs) {
    --left:320svh;
  }
}

.blue-star-3 {
  --left: 468svh;
  --scale: .04;
  --y: 4svh;
  --x: 0svh;
  --rot: 16deg;
  --z: 20;
  pointer-events: none;

  @include respond(xs) {
    --left:330svh;
  }
}

.silver-star3-2 {
  --left: 478svh;
  --scale: .06;
  --y: 1svh;
  --x: 0svh;
  --rot: 12deg;
  --z: 20;
  pointer-events: none;

  @include respond(xs) {
    --left:340svh;
  }
}

.silver-star3-3 {
  --left: 489svh;
  --scale: .08;
  --y: 8svh;
  --x: 0svh;
  --rot: 48deg;
  --z: 20;
  pointer-events: none;

  @include respond(xs) {
    --left:351svh;
  }
}

// ========= LANDMINES SECTION =========

.glitter-truck {
  --left: 494svh;
  --scale: .48;
  --y: -18svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 7;
  pointer-events: none;
  
   @include respond(xs) {
    --left:365svh;
    --scale:.44;
  } 
}

.landmines-bts-clip {
  --left: 532svh;
  --scale: .3;
  --ar: 16/9;
  --y: 65svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 40;

   @include respond(xs) {
    --left:388svh;
  }
}

.landmines-voicememo {
  --left: 523svh;
  --scale: .26;
  --y: 37svh;
  --x: 5svh;
  --rot: 0deg;
  --z: 30;

  @include respond(xs) {
    --left:378svh;
  }  
}

.blue-star-4 {
  --left: 517svh;
  --scale: .04;
  --y: 41svh;
  --x: 5svh;
  --rot: 6deg;
  --z: 28;
  
   @include respond(xs) {
    --left:369svh;
  }
}

.katstratford-car {
  --left: 519svh;
  --scale: .21;
  --y: 13svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 30;
  pointer-events: none;
  
  @include respond(xs) {
    --left:375svh;
  }
}

.vocals-landmines-1 {
  --left: 568svh;
  --scale: .35;
  --ar: 9/16;
  --y: 0svh;
  --x: 10svh;
  --rot: 0deg;
  --z: 37;

  @include respond(xs) {
    --left:422svh;
  }    
}

.vocals-landmines-1-text {
  --left: 549svh;
  --scale: .18;
  --y: 21svh;
  --x: 10svh;
  --rot: 0deg;
  --z: 38;
  pointer-events: none;

  --ff: "Manic";
  --fw: 400;
  --fs-mul: .1;
  --ta: left;
  --tt: uppercase;
  --text-color: #4C58E9;

  @include respond(xs) {
    display:none;
  }    
}

.october-lane {
  --left: 566svh;
  --scale: .25;
  --y: -4svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 38;
  pointer-events: none;

  @include respond(xs) {
    --left:415svh;
    --z: 6;    
  }  
}

.landmines-license {
  --left: 590svh;
  --scale: .29;
  --y: 65svh;
  --x: 0svh;
  --rot: -8deg;
  --z: 40;
  pointer-events: none;
  
  @include respond(xs) {
    --left:447svh;
    --scale:.26;
  }    
}

.silver-star3-4 {
  --left: 580svh;
  --scale: .06;
  --y: 57svh;
  --x: 0svh;
  --rot: 9deg;
  --z: 41;
  pointer-events: none;
  
  @include respond(xs) {
    display:none!important;
  }    
}

.blue-star-5 {
  --left: 638svh;
  --scale: .07;
  --y: 60svh;
  --x: 0svh;
  --rot: -5deg;
  --z: 420;
  pointer-events: none;

  @include respond(xs) {
    display:none!important;
  }     
}

.landmines-title {
  --left: 578svh;
  --scale: .17;
  --y: 38svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 30;
  pointer-events: none;

  @include respond(xs) {
    --left: 440svh;
    --scale:.14;
    --y:40svh;
  }     
}

.landmines-lyricvideo {
  --left: 590svh;
  --scale: .38;
  --y: 3svh;
  --x: 10svh;
  --rot: 0deg;
  --z: 19;

  @include respond(xs) {
    --left: 440svh;
    --scale:.27;
  }       
}

.landmines-reaction-text {
  --left: 639svh;
  --scale: .23;
  --y: 76svh;
  --x: 2svh;
  --rot: 0deg;
  --z: 16;
  pointer-events: none;

  --ff: "Thinker";
  --fw: 400;
  --fs-mul: .1;
  --ta: center;
  --text-color: #4CA8E9;

  @include respond(xs) {
    --left: 489svh;
    --scale:.20;
  }      
}

.landmines-about {
  --left: 643svh;
  --scale: .3;
  --y: 46svh;
  --x: 10svh;
  --rot: -25deg;
  --z: 30;

  @include respond(xs) {
    --left: 485svh;
    --scale:.27;
  }      
}

.landmines-og-guitar {
  --left: 650svh;
  --scale: .38;
  --ar: 9/16;
  --y: 9svh;
  --x: 10svh;
  --rot: 0deg;
  --z: 25;

  @include respond(xs) {
    --left: 487svh;
    --scale:.38;
  }       
}

.landmines-session-video-text {
  --left: 650svh;
  --scale: .2;
  --y: 1svh;
  --x: 10svh;
  --rot: 0deg;
  --z: 38;
  pointer-events: none;

  --ff: "Thinker";
  --fw: 400;
  --fs-mul: .1;
  --ta: center;
  --tt: lowercase;
  --text-color: #4CA8E9;

  @include respond(xs) {
    --left: 487svh;
  }  
}

.landmines-reaction {
  --left: 670svh;
  --scale: .42;
  --ar: 9/16;
  --y: 55svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 42;

  @include respond(xs) {
    --left: 490svh; 
  }
}

.blue-star-6 {
  --left: 678svh;
  --scale: .04;
  --y: 49svh;
  --x: 0svh;
  --rot: 4deg;
  --z: 420;
  pointer-events: none;
}

.blue-star-7 {
  --left: 685svh;
  --scale: .07;
  --y: 29svh;
  --x: 0svh;
  --rot: -30deg !important;
  --z: 420;
  pointer-events: none;
}

.play-landmines {
  --left: 686svh;
  --scale: .28;
  --y: 1svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 19;
}

.landmines-session-voicememos {
  --left: 685svh;
  --scale: .31;
  --y: 27svh;
  --x: 10svh;
  --rot: 7deg;
  --z: 21;
}

.enchanted-bridge {
  --left: 707svh;
  --scale: .17;
  --y: 2svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 18;
  pointer-events: none;
}

