// ========= WELCOME SECTION (slot classes) =========
.slot {
  &.special-message {
    --left: -20svh;
    --scale: 1.12;
    --y: 10svh;
    --x: 0svh;
    --rot: 0deg;
    --z: 10;
  
    @include respond(xs) {
      display:none;
    }
  }
  
  &.special-message-mobile {
    display:none;
    
    @include respond(xs) {
      display: flex;
      position: absolute;
      --left: 200svh;
      --scale: 1.12;
      --y: 5svh;
      --x: 0svh;
      --rot: 0deg;
      --z: 100;
    }
  }
  
  &.izzymacarthur {
    --left: 18svh;
    --scale: .15;
    --y: 65svh;
    --x: 8svh;
    --rot: 0deg;
    --z: 2;
  
    @include respond(xs) { }
  }
  
  &.social-sparkles {
    --left: 17svh;
    --scale: .15;
    --y: 50svh;
    --x: 8svh;
    --rot: 0deg;
    --z: 2;
    pointer-events: none;
  
    @include respond(xs) { }
  }
  
  &.instagram {
    --left: 28svh;
    --scale: .05;
    --y: 55svh;
    --x: 8svh;
    --rot: 0deg;
    --z: 2;
  
    @include respond(xs) { }
  }
  
  &.tiktok {
    --left: 34svh;
    --scale: .05;
    --y: 55svh;
    --x: 8svh;
    --rot: 0deg;
    --z: 2;
  
    @include respond(xs) { }
  }
  
  &.twitter {
    --left: 40svh;
    --scale: .05;
    --y: 55svh;
    --x: 8svh;
    --rot: 0deg;
    --z: 2;
  
    @include respond(xs) { }
  }
  
  &.discord {
    --left: 46svh;
    --scale: .05;
    --y: 55svh;
    --x: 8svh;
    --rot: 0deg;
    --z: 2;
  
    @include respond(xs) { }
  }
  
  &.spotify {
    --left: 52svh;
    --scale: .05;
    --y: 55svh;
    --x: 8svh;
    --rot: 0deg;
    --z: 2;
  
    @include respond(xs) { }
  }
  
  &.apple-music {
    --left: 58svh;
    --scale: .05;
    --y: 55svh;
    --x: 8svh;
    --rot: 0deg;
    --z: 2;
  
    @include respond(xs) { }
  }
  
  &.torn-note {
    --left: 11svh;
    --scale: .68;
    --y: -9svh;
    --x: -2svh;
    --rot: 0deg;
    --z: 3;
    pointer-events: none;
  
    @include respond(xs) { }
  }

  &.tracklist {
    --left:91svh; 
    --scale:.42; 
    --y:57svh; 
    --x:15svh; 
    --rot:8deg; 
    --z:2; 
    pointer-events:none;
  }

  &.the-scrapbook {
    --left:65svh; 
    --scale:.5; 
    --y:12svh; 
    --x:0svh; 
    --rot:0deg; 
    --z:4;
    pointer-events: none;
  }

  &.lfg { 
    outline: 5px solid magenta;   // DEBUG
    background: rgba(255, 0, 255, 0.2); // DEBUG
    --left:97svh; 
    --scale:.1; 
    --y:5svh; 
    --x:0svh; 
    --rot:0deg; 
    --z:5;
    pointer-events: none;
  }
  
  &.pink-arrow { 
    outline: 5px solid magenta;   // DEBUG
    background: rgba(255, 0, 255, 0.2); // DEBUG
    --left:123svh; 
    --scale:.09; 
    --y:5svh; 
    --x:0svh; 
    --rot:0deg; 
    --z:5;
    pointer-events: none;
  }

}
