// ========= WELCOME SECTION (slot classes) =========
.special-message {
  --left: -26svh;
  --scale: 1.12;
  --y: 21svh;
  --x: 0svh;
  --rot: 0deg;
  --z: 1;
  
  @include respond(xs) {
    display:none;
  }
}
  
.special-message-mobile {
  display: none!important;
    
  @include respond(xs) {
    display: flex!important;
    position: absolute;
    --left: 12svh;
    --scale: .84;
    --y: 17svh;
    --x: 0svh;
    --rot: 0deg;
    --z: 1;
  }
}
  
.izzymacarthur {
  --left: 18svh;
  --scale: .15;
  --y: 60svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;

  @include respond(xs) { 
    display: none;
  }
}

.mobile-izzymacarthur {
  display: none!important;

  @include respond(xs) {
    display: flex!important;
    --left: 13svh;
    --scale: .12;
    --y: 61svh;
    --x: 8svh;
    --rot: 0deg;
    --z: 2;
  }
}

  .social-sparkles {
    --left: 17svh;
    --scale: .15;
    --y: 50svh;
    --x: 8svh;
    --rot: 0deg;
    --z: 2;
    pointer-events: none;
    
    @include respond(xs) { 
      --left: 11.5svh;
      --scale: .13;
      --y: 13svh;
      --x: 8svh;
      --rot: 0deg;
      --z: 2;
      pointer-events: none;
    }
  }
  
.instagram {
  --left: 28svh;
  --scale: .05;
  --y: 55svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;
  
  @include respond(xs) {
    --left: 22svh;
    --scale: .037;
    --y: 18.75svh;
    --x: 6.5svh;
    --rot: 0deg;
    --z: 2;
  }
}
  
.tiktok {
  --left: 34svh;
  --scale: .05;
  --y: 55svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;
  
  @include respond(xs) {
    --left: 27.5svh;
    --scale: .037;
    --y: 17.25svh;
    --x: 6.5svh;
    --rot: 0deg;
    --z: 2;
  }
}
  
.twitter {
  --left: 40svh;
  --scale: .05;
  --y: 55svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;
  
  @include respond(xs) {
    --left: 33svh;
    --scale: .037;
    --y: 18.75svh;
    --x: 6.5svh;
    --rot: 0deg;
    --z: 2;
  }
}
  
.discord {
  --left: 46svh;
  --scale: .05;
  --y: 55svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;
  
  @include respond(xs) {
    --left: 38.5svh;
    --scale: .037;
    --y: 17.25svh;
    --x: 6.5svh;
    --rot: 0deg;
    --z: 2;
  }
}
  
.spotify {
  --left: 52svh;
  --scale: .05;
  --y: 55svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;
  
  @include respond(xs) {
    --left: 44svh;
    --scale: .037;
    --y: 18.75svh;
    --x: 6.5svh;
    --rot: 0deg;
    --z: 2;
  }
}
  
.apple-music {
  --left: 58svh;
  --scale: .05;
  --y: 55svh;
  --x: 8svh;
  --rot: 0deg;
  --z: 2;
  
  @include respond(xs) { 
    --left: 49.5svh;
    --scale: .037;
    --y: 17.25svh;
    --x: 6.5svh;
    --rot: 0deg;
    --z: 2;
  }
}

.torn-note {
  --left: 11svh;
  --scale: .68;
  --y: -9svh;
  --x: -2svh;
  --rot: 0deg;
  --z: 3;
  pointer-events: none;
  
  @include respond(xs) {
    --left:41svh; 
    --scale:.4; 
    --y:65svh; 
    --x:15svh; 
    --rot:10deg; 
    --z:4;
    pointer-events: none;
  }
}

.tracklist {
  --left:91svh; 
  --scale:.42; 
  --y:57svh; 
  --x:15svh; 
  --rot:8deg; 
  --z:2; 
  pointer-events:none;
  
  @include respond(xs) {
    --left:60svh; 
    --scale:.3; 
    --y:1svh; 
    --x:15svh; 
    --rot:-8deg; 
    --z:4;
    pointer-events: none;
  }
}

.the-scrapbook {
  --left:65svh; 
  --scale:.5; 
  --y:12svh; 
  --x:0svh; 
  --rot:0deg; 
  --z:4;
  pointer-events: none;
  
  @include respond(xs) {
    --left:18svh; 
    --scale:.32; 
    --y:26svh; 
    --x:0svh; 
    --rot:0deg; 
    --z:4;
    pointer-events: none;
  }
}

.lfg { 
  --left:97svh; 
  --scale:.1; 
  --y:5svh; 
  --x:0svh; 
  --rot:0deg; 
  --z:4;
  pointer-events: none;
  
  @include respond(xs) {
    --left:25svh; 
    --scale:.1; 
    --y:3svh; 
    --x:0svh; 
    --rot:0deg; 
    --z:4;
    pointer-events: none;
  }
}
  
  .pink-arrow { 
    --left:123svh; 
    --scale:.09; 
    --y:5svh; 
    --x:0svh; 
    --rot:0deg; 
    --z:5;
    pointer-events: none;
    
    @include respond(xs) {
      --left:50svh; 
      --scale:.08; 
      --y:3svh; 
      --x:0svh; 
      --rot:0deg; 
      --z:4;
      pointer-events: none;
    }
  }

  // ========= LIGHT SLEEPER SECTION (slot classes) =========
.broken-cd { 
  --left:143svh; 
  --scale:.35; 
  --y:67svh;
  --x:0svh; 
  --rot:85deg; 
  --z:29;
  pointer-events:none;
  
  @include respond(xs) {
    --left:66svh; 
    --scale:.32; 
    --y:44svh; 
    --x:-11svh; 
    --rot:85deg; 
    --z:2;
    pointer-events: none;
  }
}

.blue-star-1 { 
  --left:183svh; 
  --scale:.06; 
  --y:85svh;
  --x:0svh;
  --rot:80deg;
  --z:20;
  pointer-events:none;
  
  @include respond(xs) {
    --left:115svh; 
    --scale:.04; 
    --y:90svh;
    --x:0svh;
    --rot:80deg;
    --z:20;
    pointer-events:none;
  }
}

.blue-star-2 {
  --left:185svh;
  --scale:.13;
  --y:95svh;
  --x:0svh;
  --rot:86deg; 
  --z:20;
  pointer-events:none;
}

.silver-star1-1 { 
  --left:187svh;
  --scale:.17; 
  --y:73svh;
  --x:0svh;
  --rot:83deg;
  --z:20;
  pointer-events:none;
}

.lightsleeper-title { 
  --left:159svh;
  --scale:.42; 
  --y:26svh; 
  --x:-4svh; 
  --rot:-5deg;
  --z:4; 
  pointer-events: none;

  @include respond(xs) {
    --left:102svh; 
    --scale:.33; 
    --y:72svh; 
    --x:-4svh; 
    --rot:-5deg;
    --z:4; 
    pointer-events: none;
  }
}

.lightsleeper-visualizer {
  --left:145svh;
  --scale:.38;
  --y:0svh; 
  --x:10svh;
  --rot:0deg;
  --z:3; 
  
  @include respond(xs) {
    --left:112svh;
    --scale: .27;
  }
}

.lightsleeper-about { 
  --left:210svh;
  --scale:.4;
  --y:58svh;
  --x:0svh;
  --rot:-10deg;
  --z:30;
  pointer-events:auto;
  
  @include respond(xs) {
    --left:103svh;
    --y:48svh;
    --scale:.3;
  }
}

.autumn-text {
  --left:220svh;
  --scale:.3;
  --y:22svh;
  --x:0svh;
  --rot:2deg;
  --z:0;
  
  @include respond(xs) {
    --left:115svh;
    --y: 25svh;
    --scale:.28;
  }
}

.blame-it-notesapp { 
  --left:215svh;
  --scale:.20;
  --y:0svh;
  --x:0svh;
  --rot:-2deg;
  --z:4;
  
  @include respond(xs) {
    --left:125svh;
  }
}

.lightsleeper-studio { 
  --left:247svh;
  --scale:.40;
  --ar:9/16;
  --y:57svh;
  --x:0svh; 
  --rot:0deg;
  --z:41;
  
  @include respond(xs) {
    --left:155svh;
    --scale:.30;
  }
}

.silver-star1-2 {
  --left:245svh;
  --scale:.18;
  --y:5svh;
  --x:0svh;
  --rot:20deg;
  --z:60;
  pointer-events:none;
  
  @include respond(xs) {
    --left:145svh;
  }
}

.chords-gif { 
  --left:272svh; 
  --scale:.3; 
  --y:66svh;
  --x:0svh; 
  --rot:0deg;
  --z:41;
  
  @include respond(xs) {
    --left:150svh;
    --scale: .2;
    --y:77svh;
    pointer-events:none;
  }
}

.click4chordz { 
  --left:288svh;
  --scale:.11;
  --y:88svh;
  --x:0svh; 
  --rot:0deg; 
  --z:42; 
  pointer-events:none;
  
  --ff: "Manic"; 
  --ta: center; 
  --fw: 400; 
  --fs-mul: .18; 
  --tt: uppercase;
  --text-color: #4C58E9;
  
  @include respond(xs) {
    display:none;
  }
}

.play-lightsleeper {
  --left:262svh;
  --scale:.35;
  --y:32svh;
  --x:0svh;
  --rot:0deg;
  --z:40;
  
  dotlottie-wc {
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .sc-trigger{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }

  @include respond(xs) {
    --left:115svh;
    --scale: .3;
  }
}

.broken-breathing {
  --left:263svh;
  --scale:.28;
  --y:0svh;
  --x:1svh;
  --rot:0deg;
  --z:10;

  @include respond(xs) {
    --left:115svh;
    --scale: .2;
  }
}

.lightsleeper-voicememo {
  --left:310svh;
  --scale:.34;
  --y:29svh;
  --x:0svh;
  --rot:-6deg;
  --z:9;

  @include respond(xs) {
    --left:135svh;
    --scale:.25;
  }
}
