body.desktop {

  .rail {
    height: 100svh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    display: flex;

    position: relative;

    width: 3751.2vh;

    --group-left: -25svh;

    > * {
      position: absolute;
      left: calc(var(--left) + var(--group-left));
      bottom: 0;
      transform: translate(var(--x), calc(-1 * var(--y))) rotate(var(--rot));
      transform-origin: center bottom;
      z-index: var(--z);
    }

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #2c2c32;
      border-radius: 8px;
    }
  }
}
