body.desktop {

  // === MAIN HORIZONTAL BAND  ===
  > .rail {
    width: 3751.2vh;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;

    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;

    --group-left: -25svh;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #2c2c32;
      border-radius: 8px;
    }
  }
  .pusher {
    width: 1px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 0;

    left: calc(3148vh * 1000 / 847);

    @include respond(xs) {
      left: 3673vh;
    }
  }
}
