.social {
  position: absolute;
  top: 37svh;
  left: 5svh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2svh; 

  .social-sparkle-l,
  .social-sparkle-r {
    width: 5svh;
    height: auto;
    display: block;

    pointer-events: none;
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }

    img {
      width: 3svh;
      height: 3svh;
      display: block;
      object-fit: contain;
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }

  @include respond(xs) {   
    position: absolute;
    top: 25svh;
    left: 0.5svh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2svh; 

    gap: 1.4svh;

    .social-sparkle-l,
    .social-sparkle-r {
      width: 3.5svh;
    }

    .icon img {
      width: 2svh;
      height: 2svh;
    }
  }
}

.social-2 {
  position: absolute;
  top: 37svh;
  left: 5svh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2svh; 

  top: 80svh;
  left: 2824svh;
  gap:1.95svh;

  .social-sparkle-l2,
  .social-sparkle-r2 {

    width: 5svh;
    height: auto;
    display: block;

    width: 7svh;

    pointer-events: none;
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }

    img {
      width: 3svh;
      height: 3svh;
      display: block;
      object-fit: contain;

      width: 3.5svh;
      height: 3.5svh;
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }
}
