/* === Core webfonts === */

/* Thinker */
@font-face {
  font-family: "Thinker";
  src: url("../assets/fonts/thinker/Thinker.woff2") format("woff2"),
       url("../assets/fonts/thinker/Thinker.ttf") format("truetype");
}

/* VHS Family */
@font-face {
  font-family: "VHS Glitch 2 Regular";
  src: url("../assets/fonts/VHS Glitch 2/VHSGlitch2-Regular.ttf") format("truetype"),
       url("../assets/fonts/VHS Glitch 2/VHSGlitch2-Regular.otf") format("opentype");
}
@font-face {
  font-family: "VHS Glitch 2 Upper";
  src: url("../assets/fonts/VHS Glitch 2/VHSGlitch2-Upper.ttf") format("truetype"),
       url("../assets/fonts/VHS Glitch 2/VHSGlitch2-Upper.otf") format("opentype");
}
@font-face {
  font-family: "VHS Glitch 2 Lower";
  src: url("../assets/fonts/VHS Glitch 2/VHSGlitch2-Lower.ttf") format("truetype"),
       url("../assets/fonts/VHS Glitch 2/VHSGlitch2-Lower.otf") format("opentype");
}
@font-face {
  font-family: "VHS Glitch 2 Bits";
  src: url("../assets/fonts/VHS Glitch 2/VHSGlitch2-Bits.ttf") format("truetype"),
       url("../assets/fonts/VHS Glitch 2/VHSGlitch2-Bits.otf") format("opentype");
}
@font-face {
  font-family: "VHS Glitch 2 Wave";
  src: url("../assets/fonts/VHS Glitch 2/VHSGlitch2-Wave.ttf") format("truetype"),
       url("../assets/fonts/VHS Glitch 2/VHSGlitch2-Wave.otf") format("opentype");
}

/* Manic Family */
@font-face {
  font-family: "Manic";
  src: url("../assets/fonts/manic/manic-regular.woff2") format("woff2"),
       url("../assets/fonts/manic/manic-regular.otf") format("opentype");
}
@font-face {
  font-family: "Manic Alt 1";
  src: url("../assets/fonts/manic/manic-alt1.woff2") format("woff2"),
       url("../assets/fonts/manic/manic-alt1.otf") format("opentype");
}
@font-face {
  font-family: "Manic Alt 2";
  src: url("../assets/fonts/manic/manic-alt2.woff2") format("woff2"),
       url("../assets/fonts/manic/manic-alt2.otf") format("opentype");
}
@font-face {
  font-family: "Manic Alt 3";
  src: url("../assets/fonts/manic/manic-alt3.woff2") format("woff2"),
       url("../assets/fonts/manic/manic-alt3.otf") format("opentype");
}

/* Text Utilities */
.is-uppercase {
  text-transform: uppercase;
}

.is-lowercase {
  text-transform: lowercase;
}

.small {
    font-size: 1.1rem;
    @include respond(xs) {
        font-size: .8rem;
    }
}


/* Reset form controls */
button,
input,
select,
textarea {
    font-size: initial;
}
