$font-main: "VHS Glitch 2 Regular", system-ui, -apple-system, "Segoe UI", sans-serif;
$font-written: "Thinker", system-ui, -apple-system, "Segoe UI", sans-serif;

$font-weight: 400;
$enable-responsive-font-sizes: true;
$enable-grid-classes: true;
$font-size-base: 1.6rem;
$font-size-base-xs: 1.1rem;
$font-size-base-sm: 1.4rem;
$font-size-base-lg: 1.8rem;
$font-size-base-xl: 2.2rem;
$font-size-base-xxl: 2.4rem;

// colors
$main:          #4CA8E9;
$main_30:       hsla(215, 100%, 34%, .3);

$bg-color:      hsla(240, 9%, 6%, 1);
$bg-color-40:   hsla(240, 9%, 6%, .4);

// Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
